<h1>
  {{title}}
</h1>

<div class="container">
  <div class="row headers">
    <div class="col-sm-2">
      <h2>Name</h2>
    </div>
    <div class="col-sm-2">
      <h2>Brand</h2>
    </div>
    <div class="col-sm-1">
      <h2>$/Pint</h2>
    </div>
    <div class="col-sm-2">
      <h2>Alcohol Content</h2>
    </div>
    <div class="col-sm-2">
      <h2>Flavors</h2>
    </div>
    <div class="col-sm-1">
      <h2>Pints Left</h2>
    </div>
    <div class="col-sm-2">
      <h2>Edit/Sell/Delete</h2>
    </div>
  </div>
  <div class="row data-line" *ngFor="let keg of kegs">
    <div class="col-sm-2">
      <p>{{keg.name}}</p>
    </div>
    <div class="col-sm-2">
      <p>{{keg.brand}}</p>
    </div>
    <div class="col-sm-1">
      <p>{{keg.pricePerPint}}</p>
    </div>
    <div class="col-sm-2">
      <p>{{keg.alcoholContent}}</p>
    </div>
    <div class="col-sm-2">
      <p *ngFor="let flavor of keg.flavors">{{flavor}}</p>
    </div>
    <div class="col-sm-1">
      <p>{{keg.pintsRemaining}}</p>
    </div>
    <div class="col-sm-2">
      <button (click)='keg.sellPint()' type="button" name="sellPint" class="btn btn-info"> Sell Pint</button>
      <button (click)='keg.sellGrowler()' type="button" name="sellGrowler" class="btn btn-success"> Sell Growler</button>
      <button (click)='editKeg(keg)' type="button" name="editKeg" class="btn btn-warning">Edit Keg</button>
    </div>
  </div>

  <div class="form" *ngIf="selectedKeg">
    <h2>{{selectedKeg.name}}</h2>
    <form class="editForm">
      <div class="form-group">
        <label for="name">Edit Name:</label>
        <input type="text" name="name" class="form-control" value="{{selectedKeg.name}}">
      </div>
      <div class="form-group">
        <label for="brand">Edit Brand:</label>
        <input type="text" name="brand" class="form-control" value="{{selectedKeg.brand}}">
      </div>
      <div class="form-group">
        <label for="pricePerPint">Edit Price Per Pint:</label>
        <input type="number" name="pricePerPint" class="form-control" value="{{selectedKeg.pricePerPint}}">
      </div>
      <div class="form-group">
        <label for="alcoholContent">Edit Alchohol Content:</label>
        <input type="text" name="alcoholContent" class="form-control" value="{{selectedKeg.alcoholContent}}">
      </div>
      <div class="form-group">
        <label for="flavors">Edit Flavors</label>
        <span *ngFor="let flavor of selectedKeg.flavors" (click)="removeFlavor(selectedKeg, flavor)" class="btn btn-primary">{{flavor}} </span>
        <input type="text" name="flavors" class="form-control" placeholder="Add Flavor" [(ngModel)]="flavorName">
        <button type="button" name="addFlavor" class="btn btn-success" (click)="addFlavor(selectedKeg)">Add</button>
      </div>
      <div class="form-group">
        <label for="pintsRemaining">Edit Pints Left:</label>
        <input type="text" name="pintsRemaining" class="form-control" value="{{selectedKeg.pintsRemaining}}">
      </div>
      <button type="button" name="button" (click)="finishedEditing()" class="btn btn-warning">Update</button>
    </form>
  </div>
</div>
