<h1>
  {{title}}
</h1>

<div class="container">
  <div class="row headers">
    <div class="col-sm-2">
      <h5>Name <img src="./assets/images/elevator.png" alt="up-down-arrows" class="sort-arrows" (click)="sort('name')"></h5>
    </div>
    <div class="col-sm-2">
      <h5>Brand <img src="./assets/images/elevator.png" alt="up-down-arrows" class="sort-arrows" (click)="sort('brand')"></h5>
    </div>
    <div class="col-sm-1">
      <h5>Price (Pint) <img src="./assets/images/elevator.png" alt="up-down-arrows" class="sort-arrows" (click)="sortNumber('pricePerPint')"></h5>
    </div>
    <div class="col-sm-1">
      <h5>Alcohol Content <img src="./assets/images/elevator.png" alt="up-down-arrows" class="sort-arrows" (click)="sortNumber('alcoholContent')"></h5>
    </div>
    <div class="col-sm-2">
      <h5>Flavors</h5>
    </div>
    <div class="col-sm-1">
      <h5>Pints Left <img src="./assets/images/elevator.png" alt="up-down-arrows" class="sort-arrows" (click)="sortNumber('pintsRemaining')"></h5>
    </div>
    <div class="col-sm-3">
      <h5>Edit/Sell/Delete</h5>
    </div>
  </div>
  <div class="row data-line" *ngFor="let keg of kegs" >
    <div class="col-sm-2">
      <p>{{keg.name}}</p>
    </div>
    <div class="col-sm-2">
      <p>{{keg.brand}}</p>
    </div>
    <div class="col-sm-1">
      <div [class]="costColor(keg)" >
        <p>${{keg.pricePerPint}}</p>
      </div>
    </div>
    <div class="col-sm-1">
      <p>{{keg.alcoholContent}}%</p>
    </div>
    <div class="col-sm-2">
      <p *ngFor="let flavor of keg.flavors">{{flavor}}</p>
    </div>
    <div class="col-sm-1">
      <p>{{keg.pintsRemaining}}</p>
    </div>
    <div class="col-sm-3 buttons">
      <button (click)='keg.sellPint()' type="button" name="sellPint" class="btn btn-success">Pint</button>
      <button (click)='keg.sellSmallGrowler()' type="button" name="sellGrowler" class="btn btn-success">Sm Growler</button>
      <button (click)='keg.sellLargeGrowler()' type="button" name="sellGrowler" class="btn btn-success">Lg Growler</button>
      <button (click)='editKeg(keg)' type="button" name="editKeg" class="btn btn-warning">Edit Keg</button>
    </div>
  </div>

  <div class="form" *ngIf="selectedKeg">
    <h2>{{selectedKeg.name}}</h2>
    <form class="editForm">
      <div class="form-group">
        <label for="name">Edit Name:</label>
        <input type="text" name="name" class="form-control" value="{{selectedKeg.name}}">
      </div>
      <div class="form-group">
        <label for="brand">Edit Brand:</label>
        <input type="text" name="brand" class="form-control" value="{{selectedKeg.brand}}">
      </div>
      <div class="form-group">
        <label for="pricePerPint">Edit Price Per Pint:</label>
        <input type="number" name="pricePerPint" class="form-control" value="{{selectedKeg.pricePerPint}}">
      </div>
      <div class="form-group">
        <label for="alcoholContent">Edit Alchohol Content:</label>
        <input type="text" name="alcoholContent" class="form-control" value="{{selectedKeg.alcoholContent}}">
      </div>
      <div class="form-group">
        <label for="flavors">Edit Flavors</label>
        <span *ngFor="let flavor of selectedKeg.flavors" (click)="removeFlavor(selectedKeg, flavor)" class="btn btn-primary">{{flavor}} </span>
        <input type="text" name="flavors" class="form-control" placeholder="Add Flavor" [(ngModel)]="flavorName">
        <button type="button" name="addFlavor" class="btn btn-success" (click)="addFlavor(selectedKeg)">Add</button>
      </div>
      <div class="form-group">
        <label for="pintsRemaining">Edit Pints Left:</label>
        <input type="text" name="pintsRemaining" class="form-control" value="{{selectedKeg.pintsRemaining}}">
      </div>
      <button type="button" name="button" (click)="finishedEditing()" class="btn btn-warning">Update</button>
    </form>
  </div>
</div>
